* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}
:root {
    font-family: var(--font-family);
    --primary-color: #000000;
    --secondary-color: #333;
    --font-family: "poppins", sans-serif;
    --thirdary-color: #fff;
}

/* header--section */
.header {
    position: relative;
    display: flex;
    justify-content: center;
    /* keep nav centered */
    align-items: center;
    padding: 30px;
}

.logo {
    position: absolute;
    left: 30px;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-link {
    padding: 30px;
    text-decoration: none;
    color: var(--primary-color);
}

/* sections */
.hero-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hero-contents {
    display: block;
    text-align: left;
    padding: 130px 0px 0px 30px;
}

.hero-image {
    position: relative;
    top: 112px;
}

.hero-image-content {
    position: absolute;
    top: 30%;
    left: 80%;
    line-height: 59px;
    color: var(--secondary-color);
    font-size: clamp(2rem, 5vw, 4rem);
}

.hero-button {
    background: none;
    border: none;
    font-size: medium;
    font-weight: 600;
    color: var(--primary-color);
}

i {
    color: var(--thirdary-color);
}

.social-icons {
    position: relative;
    top: 50%;
}

.social-icons i {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 50%;
    margin: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

@media screen and (max-width: 768px) {
    .social-icons {
        display: none;
    }

    .nav-list {
        display: none;
    }
}